#ignore credential files
*.json
*.pickle
*.ini

#ignore twilio
archive/twilio.ipynb

#ignore files used to create initial database tables
database/initial_tbls/*

#ignore scraped files
UltaScraper/data/*

#ignore __pycache__
__pycache__

#ignore checkpoints
.ipynb_checkpoints

