#ignore credential files
*.json
*.pickle
*.ini

#ignore files used to create initial database tables
database/initial_tbls/*

#ignore scraped files
UltaScraper/data/*

#ignore __pycache__
__pycache__/*
UltaScraper/__pycache__/*

#ignore checkpoints
.ipynb_checkpoints/*
UltaScraper/.ipynb_checkpoints/*

#ignore archive folder
archive/*

#ignore site folder
site/*

#ignore twilio
twilio/*

